// !GLOBAL TYPEFACE SETTINGS
$f-primary: 'Arial', sans-serif;
$f-secondary: 'Trebuchet MS', cursive;

// !GLOBAL COLORS
$black: #000;
$red: #ff4e4e;
$blue: #1f425b;
$yellow: #ffd34e;
$green: #0d474e;

$dark-grey: #303030;
$grey: #595959;
$light-grey: #f0f0f0;

$cream: #f7f0da;
$c-primary: $yellow;
$c-secondary: $green;
$c-tertiary: #1a9eae;
$c-accent: #1a9eae;
$c-footer: #3a3332;
$c-shadows: #9d646b;

// !BORDER RADIUS
$b-radius: 6px;

// !GENERIC SPEED VARIABLE
$speed: 1500ms;