// !GLOBAL TYPEFACE SETTINGS
$f-primary: "Helvetica Neue",Helvetica,Arial,sans-serif;
$f-secondary: 'Trebuchet MS', cursive;

// !GLOBAL COLORS
$black: #000;
$red: #ff4e4e;
$blue: #1f425b;
$yellow: #ffd34e;
$green: #0d474e;

$dark-grey: #303030;
$grey: #595959;
$light-grey: #f0f0f0;

$cream: #f7f0da;
$c-primary: $yellow;
$c-secondary: $green;
$c-tertiary: #1a9eae;
$c-accent: #1a9eae;
$c-footer: #3a3332;
$c-shadows: #9d646b;

// !BORDER RADIUS
$b-radius: 6px;

// !GENERIC SPEED VARIABLE
$speed: 1500ms;

// !GRID SETTINGS
// !GLOBAL RESPONSIVE VARIABLES
$desk: 1200px;
$tablet: 1200px; // This number needs to be the same as $desk to prevent a "no-mans-land" in breakpoints
$v-tablet: 760px;
$mobile: 660px;
$v-mobile: 500px;
$sm-mobile: 500px;

// !GLOBAL GUTTER VARIABLES
//column gutter variables we now how four options if using gutter space
$gut-no: 0;
$gut-sm: 2;
$gut-med: 3;
$gut-lg: 20;

// !PADDING VARIABLES
$wrap-pad: 6%;