/*  This is the SCSS file where most of your
  site-specific styling should be done.
*/
.clearfix:before, .row:before {
  content: ' ';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }
.clearfix:after, .row:after {
  content: ' ';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  clear: both; }

@media screen {
  .desk-1-4-gut-lg {
    width: 10%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-4-gut-med {
    width: 22.75%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-4-gut-sm {
    width: 23.5%;
    margin-right: 2%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-4 {
    width: 25%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-4-gut-lg:nth-of-type(4n) {
    margin-right: 0; }

  .desk-1-4-gut-med:nth-of-type(4n) {
    margin-right: 0; }

  .desk-1-4-gut-sm:nth-of-type(4n) {
    margin-right: 0; }

  .desk-1-4-gut-lg:nth-of-type(4n+1) {
    clear: left; }

  .desk-1-4-gut-med:nth-of-type(4n+1) {
    clear: left; }

  .desk-1-4-gut-sm:nth-of-type(4n+1) {
    clear: left; }

  .desk-1-4:nth-of-type(4n+1) {
    clear: left; }

  .desk-full {
    width: 100%;
    float: none; }
    .desk-full:before {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .desk-full:after {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both; }

  .desk-1-3-gut-lg {
    width: 20%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-3-gut-med {
    width: 31.3333333333%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-3-gut-sm {
    width: 32%;
    margin-right: 2%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-3 {
    width: 33.3333333333%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-3-gut-lg:nth-of-type(3n) {
    margin-right: 0; }

  .desk-1-3-gut-med:nth-of-type(3n) {
    margin-right: 0; }

  .desk-1-3-gut-sm:nth-of-type(3n) {
    margin-right: 0; }

  .desk-1-3-gut-lg:nth-of-type(3n+1) {
    clear: left; }

  .desk-1-3-gut-med:nth-of-type(3n+1) {
    clear: left; }

  .desk-1-3-gut-sm:nth-of-type(3n+1) {
    clear: left; }

  .desk-1-3:nth-of-type(3n+1) {
    clear: left; }

  .desk-full {
    width: 100%;
    float: none; }
    .desk-full:before {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .desk-full:after {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both; }

  .desk-1-2-gut-lg {
    width: 40%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-2-gut-med {
    width: 48.5%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-2-gut-sm {
    width: 49%;
    margin-right: 2%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-2 {
    width: 50%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .desk-1-2-gut-lg:nth-of-type(2n) {
    margin-right: 0; }

  .desk-1-2-gut-med:nth-of-type(2n) {
    margin-right: 0; }

  .desk-1-2-gut-sm:nth-of-type(2n) {
    margin-right: 0; }

  .desk-1-2-gut-lg:nth-of-type(2n+1) {
    clear: left; }

  .desk-1-2-gut-med:nth-of-type(2n+1) {
    clear: left; }

  .desk-1-2-gut-sm:nth-of-type(2n+1) {
    clear: left; }

  .desk-1-2:nth-of-type(2n+1) {
    clear: left; }

  .desk-full {
    width: 100%;
    float: none; }
    .desk-full:before {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .desk-full:after {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both; } }
@media only screen and (max-width: 960px) {
  .tablet-1-4-gut-lg {
    width: 10%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-4-gut-med {
    width: 22.75%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-4-gut-sm {
    width: 23.5%;
    margin-right: 2%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-4 {
    width: 25%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-4-gut-lg:nth-of-type(4n) {
    margin-right: 0; }

  .tablet-1-4-gut-med:nth-of-type(4n) {
    margin-right: 0; }

  .tablet-1-4-gut-sm:nth-of-type(4n) {
    margin-right: 0; }

  .tablet-1-4-gut-lg:nth-of-type(4n+1) {
    clear: left; }

  .tablet-1-4-gut-med:nth-of-type(4n+1) {
    clear: left; }

  .tablet-1-4-gut-sm:nth-of-type(4n+1) {
    clear: left; }

  .tablet-1-4:nth-of-type(4n+1) {
    clear: left; }

  .tablet-full {
    width: 100%;
    float: none; }
    .tablet-full:before {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .tablet-full:after {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both; }

  .tablet-1-3-gut-lg {
    width: 20%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-3-gut-med {
    width: 31.3333333333%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-3-gut-sm {
    width: 32%;
    margin-right: 2%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-3 {
    width: 33.3333333333%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-3-gut-lg:nth-of-type(3n) {
    margin-right: 0; }

  .tablet-1-3-gut-med:nth-of-type(3n) {
    margin-right: 0; }

  .tablet-1-3-gut-sm:nth-of-type(3n) {
    margin-right: 0; }

  .tablet-1-3-gut-lg:nth-of-type(3n+1) {
    clear: left; }

  .tablet-1-3-gut-med:nth-of-type(3n+1) {
    clear: left; }

  .tablet-1-3-gut-sm:nth-of-type(3n+1) {
    clear: left; }

  .tablet-1-3:nth-of-type(3n+1) {
    clear: left; }

  .tablet-full {
    width: 100%;
    float: none; }
    .tablet-full:before {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .tablet-full:after {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both; }

  .tablet-1-2-gut-lg {
    width: 40%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-2-gut-med {
    width: 48.5%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-2-gut-sm {
    width: 49%;
    margin-right: 2%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-2 {
    width: 50%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .tablet-1-2-gut-lg:nth-of-type(2n) {
    margin-right: 0; }

  .tablet-1-2-gut-med:nth-of-type(2n) {
    margin-right: 0; }

  .tablet-1-2-gut-sm:nth-of-type(2n) {
    margin-right: 0; }

  .tablet-1-2-gut-lg:nth-of-type(2n+1) {
    clear: left; }

  .tablet-1-2-gut-med:nth-of-type(2n+1) {
    clear: left; }

  .tablet-1-2-gut-sm:nth-of-type(2n+1) {
    clear: left; }

  .tablet-1-2:nth-of-type(2n+1) {
    clear: left; }

  .tablet-full {
    width: 100%;
    float: none; }
    .tablet-full:before {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .tablet-full:after {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both; } }
@media only screen and (max-width: 760px) {
  .v-tablet-1-4-gut-lg {
    width: 10%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-4-gut-med {
    width: 22.75%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-4-gut-sm {
    width: 23.5%;
    margin-right: 2%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-4 {
    width: 25%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-4-gut-lg:nth-of-type(4n) {
    margin-right: 0; }

  .v-tablet-1-4-gut-med:nth-of-type(4n) {
    margin-right: 0; }

  .v-tablet-1-4-gut-sm:nth-of-type(4n) {
    margin-right: 0; }

  .v-tablet-1-4-gut-lg:nth-of-type(4n+1) {
    clear: left; }

  .v-tablet-1-4-gut-med:nth-of-type(4n+1) {
    clear: left; }

  .v-tablet-1-4-gut-sm:nth-of-type(4n+1) {
    clear: left; }

  .v-tablet-1-4:nth-of-type(4n+1) {
    clear: left; }

  .v-tablet-full {
    width: 100%;
    float: none; }
    .v-tablet-full:before {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .v-tablet-full:after {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both; }

  .v-tablet-1-3-gut-lg {
    width: 20%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-3-gut-med {
    width: 31.3333333333%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-3-gut-sm {
    width: 32%;
    margin-right: 2%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-3 {
    width: 33.3333333333%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-3-gut-lg:nth-of-type(3n) {
    margin-right: 0; }

  .v-tablet-1-3-gut-med:nth-of-type(3n) {
    margin-right: 0; }

  .v-tablet-1-3-gut-sm:nth-of-type(3n) {
    margin-right: 0; }

  .v-tablet-1-3-gut-lg:nth-of-type(3n+1) {
    clear: left; }

  .v-tablet-1-3-gut-med:nth-of-type(3n+1) {
    clear: left; }

  .v-tablet-1-3-gut-sm:nth-of-type(3n+1) {
    clear: left; }

  .v-tablet-1-3:nth-of-type(3n+1) {
    clear: left; }

  .v-tablet-full {
    width: 100%;
    float: none; }
    .v-tablet-full:before {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .v-tablet-full:after {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both; }

  .v-tablet-1-2-gut-lg {
    width: 40%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-2-gut-med {
    width: 48.5%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-2-gut-sm {
    width: 49%;
    margin-right: 2%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-2 {
    width: 50%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-tablet-1-2-gut-lg:nth-of-type(2n) {
    margin-right: 0; }

  .v-tablet-1-2-gut-med:nth-of-type(2n) {
    margin-right: 0; }

  .v-tablet-1-2-gut-sm:nth-of-type(2n) {
    margin-right: 0; }

  .v-tablet-1-2-gut-lg:nth-of-type(2n+1) {
    clear: left; }

  .v-tablet-1-2-gut-med:nth-of-type(2n+1) {
    clear: left; }

  .v-tablet-1-2-gut-sm:nth-of-type(2n+1) {
    clear: left; }

  .v-tablet-1-2:nth-of-type(2n+1) {
    clear: left; }

  .v-tablet-full {
    width: 100%;
    float: none; }
    .v-tablet-full:before {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .v-tablet-full:after {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both; } }
@media only screen and (max-width: 660px) {
  .mobile-1-4-gut-lg {
    width: 10%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-4-gut-med {
    width: 22.75%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-4-gut-sm {
    width: 23.5%;
    margin-right: 2%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-4 {
    width: 25%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-4-gut-lg:nth-of-type(4n) {
    margin-right: 0; }

  .mobile-1-4-gut-med:nth-of-type(4n) {
    margin-right: 0; }

  .mobile-1-4-gut-sm:nth-of-type(4n) {
    margin-right: 0; }

  .mobile-1-4-gut-lg:nth-of-type(4n+1) {
    clear: left; }

  .mobile-1-4-gut-med:nth-of-type(4n+1) {
    clear: left; }

  .mobile-1-4-gut-sm:nth-of-type(4n+1) {
    clear: left; }

  .mobile-1-4:nth-of-type(4n+1) {
    clear: left; }

  .mobile-full {
    width: 100%;
    float: none; }
    .mobile-full:before {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .mobile-full:after {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both; }

  .mobile-1-3-gut-lg {
    width: 20%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-3-gut-med {
    width: 31.3333333333%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-3-gut-sm {
    width: 32%;
    margin-right: 2%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-3 {
    width: 33.3333333333%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-3-gut-lg:nth-of-type(3n) {
    margin-right: 0; }

  .mobile-1-3-gut-med:nth-of-type(3n) {
    margin-right: 0; }

  .mobile-1-3-gut-sm:nth-of-type(3n) {
    margin-right: 0; }

  .mobile-1-3-gut-lg:nth-of-type(3n+1) {
    clear: left; }

  .mobile-1-3-gut-med:nth-of-type(3n+1) {
    clear: left; }

  .mobile-1-3-gut-sm:nth-of-type(3n+1) {
    clear: left; }

  .mobile-1-3:nth-of-type(3n+1) {
    clear: left; }

  .mobile-full {
    width: 100%;
    float: none; }
    .mobile-full:before {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .mobile-full:after {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both; }

  .mobile-1-2-gut-lg {
    width: 40%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-2-gut-med {
    width: 48.5%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-2-gut-sm {
    width: 49%;
    margin-right: 2%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-2 {
    width: 50%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mobile-1-2-gut-lg:nth-of-type(2n) {
    margin-right: 0; }

  .mobile-1-2-gut-med:nth-of-type(2n) {
    margin-right: 0; }

  .mobile-1-2-gut-sm:nth-of-type(2n) {
    margin-right: 0; }

  .mobile-1-2-gut-lg:nth-of-type(2n+1) {
    clear: left; }

  .mobile-1-2-gut-med:nth-of-type(2n+1) {
    clear: left; }

  .mobile-1-2-gut-sm:nth-of-type(2n+1) {
    clear: left; }

  .mobile-1-2:nth-of-type(2n+1) {
    clear: left; }

  .mobile-full {
    width: 100%;
    float: none; }
    .mobile-full:before {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .mobile-full:after {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both; } }
@media only screen and (max-width: 500px) {
  .v-mobile-1-4-gut-lg {
    width: 10%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-4-gut-med {
    width: 22.75%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-4-gut-sm {
    width: 23.5%;
    margin-right: 2%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-4 {
    width: 25%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-4-gut-lg:nth-of-type(4n) {
    margin-right: 0; }

  .v-mobile-1-4-gut-med:nth-of-type(4n) {
    margin-right: 0; }

  .v-mobile-1-4-gut-sm:nth-of-type(4n) {
    margin-right: 0; }

  .v-mobile-1-4-gut-lg:nth-of-type(4n+1) {
    clear: left; }

  .v-mobile-1-4-gut-med:nth-of-type(4n+1) {
    clear: left; }

  .v-mobile-1-4-gut-sm:nth-of-type(4n+1) {
    clear: left; }

  .v-mobile-1-4:nth-of-type(4n+1) {
    clear: left; }

  .v-mobile-full {
    width: 100%;
    float: none; }
    .v-mobile-full:before {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .v-mobile-full:after {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both; }

  .v-mobile-1-3-gut-lg {
    width: 20%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-3-gut-med {
    width: 31.3333333333%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-3-gut-sm {
    width: 32%;
    margin-right: 2%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-3 {
    width: 33.3333333333%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-3-gut-lg:nth-of-type(3n) {
    margin-right: 0; }

  .v-mobile-1-3-gut-med:nth-of-type(3n) {
    margin-right: 0; }

  .v-mobile-1-3-gut-sm:nth-of-type(3n) {
    margin-right: 0; }

  .v-mobile-1-3-gut-lg:nth-of-type(3n+1) {
    clear: left; }

  .v-mobile-1-3-gut-med:nth-of-type(3n+1) {
    clear: left; }

  .v-mobile-1-3-gut-sm:nth-of-type(3n+1) {
    clear: left; }

  .v-mobile-1-3:nth-of-type(3n+1) {
    clear: left; }

  .v-mobile-full {
    width: 100%;
    float: none; }
    .v-mobile-full:before {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .v-mobile-full:after {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both; }

  .v-mobile-1-2-gut-lg {
    width: 40%;
    margin-right: 20%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-2-gut-med {
    width: 48.5%;
    margin-right: 3%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-2-gut-sm {
    width: 49%;
    margin-right: 2%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-2 {
    width: 50%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .v-mobile-1-2-gut-lg:nth-of-type(2n) {
    margin-right: 0; }

  .v-mobile-1-2-gut-med:nth-of-type(2n) {
    margin-right: 0; }

  .v-mobile-1-2-gut-sm:nth-of-type(2n) {
    margin-right: 0; }

  .v-mobile-1-2-gut-lg:nth-of-type(2n+1) {
    clear: left; }

  .v-mobile-1-2-gut-med:nth-of-type(2n+1) {
    clear: left; }

  .v-mobile-1-2-gut-sm:nth-of-type(2n+1) {
    clear: left; }

  .v-mobile-1-2:nth-of-type(2n+1) {
    clear: left; }

  .v-mobile-full {
    width: 100%;
    float: none; }
    .v-mobile-full:before {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .v-mobile-full:after {
      content: ' ';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
      clear: both; } }
body {
  padding: 50px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.cont {
  background-color: #563d7c;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid #563d7c;
  border: 1px solid rgba(86, 61, 124, 0.2);
  padding: 0 20px;
  line-height: 2.4;
  min-height: 40px; }

.row {
  padding: 5px 0; }

.wrapper {
  width: 960px;
  margin: 0 auto; }
  @media only screen and (max-width: 960px) {
    .wrapper {
      width: 94%; } }

pre {
  background: #eaeaea;
  border: 1px solid #ccc;
  padding: 15px;
  font-family: "Monaco";
  font-size: .8rem; }

.three_equal_columns div {
  width: 33.3333333333%;
  margin-right: 0%;
  display: block;
  float: left;
  list-style-type: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .three_equal_columns div:last-child {
    width: 33.3333333333%;
    margin-right: 0%;
    display: block;
    float: right;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.three_equal_columns.gutters div {
  width: 32%;
  margin-right: 2%;
  display: block;
  float: left;
  list-style-type: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .three_equal_columns.gutters div:last-child {
    width: 32%;
    margin-right: 0%;
    display: block;
    float: right;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.three_unequal_columns div {
  width: 50%;
  margin-right: 0%;
  display: block;
  float: left;
  list-style-type: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .three_unequal_columns div:first-child {
    width: 25%;
    margin-right: 0%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .three_unequal_columns div:last-child {
    width: 25%;
    margin-right: 0%;
    display: block;
    float: right;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.three_unequal_columns.gutters div {
  width: 49%;
  margin-right: 2%;
  display: block;
  float: left;
  list-style-type: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .three_unequal_columns.gutters div:first-child {
    width: 23.5%;
    margin-right: 2%;
    display: block;
    float: left;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .three_unequal_columns.gutters div:last-child {
    width: 23.5%;
    margin-right: 0%;
    display: block;
    float: right;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.two_equal_columns div {
  width: 50%;
  margin-right: 0%;
  display: block;
  float: left;
  list-style-type: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .two_equal_columns div:last-child {
    width: 50%;
    margin-right: 0%;
    display: block;
    float: right;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.two_equal_columns.gutters div {
  width: 49%;
  margin-right: 2%;
  display: block;
  float: left;
  list-style-type: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .two_equal_columns.gutters div:last-child {
    width: 49%;
    margin-right: 0%;
    display: block;
    float: right;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.four_equal_columns div {
  width: 25%;
  margin-right: 0%;
  display: block;
  float: left;
  list-style-type: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .four_equal_columns div:last-child {
    width: 25%;
    margin-right: 0%;
    display: block;
    float: right;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
.four_equal_columns.gutters div {
  width: 23.5%;
  margin-right: 2%;
  display: block;
  float: left;
  list-style-type: none;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .four_equal_columns.gutters div:last-child {
    width: 23.5%;
    margin-right: 0%;
    display: block;
    float: right;
    list-style-type: none;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.grid-container .cont {
  margin-bottom: 15px; }
  @media only screen and (min-width: 960px) {
    .grid-container .cont {
      display: block;
      float: left;
      list-style-type: none;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 23.5%;
      margin-right: 2%;
      display: block;
      float: left;
      list-style-type: none;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .grid-container .cont:nth-of-type(4n) {
        margin-right: 0; }
      .grid-container .cont:nth-of-type(4n+1) {
        clear: left; } }

.responsive-columns div {
  margin-bottom: 15px; }
  @media only screen and (min-width: 960px) {
    .responsive-columns div {
      display: block;
      float: left;
      list-style-type: none;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 23.5%;
      margin-right: 2%;
      display: block;
      float: left;
      list-style-type: none;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .responsive-columns div:nth-of-type(4n) {
        margin-right: 0; }
      .responsive-columns div:nth-of-type(4n+1) {
        clear: left; } }
  @media only screen and (min-width: 760px) and (max-width: 960px) {
    .responsive-columns div {
      display: block;
      float: left;
      list-style-type: none;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 23.5%;
      margin-right: 2%;
      display: block;
      float: left;
      list-style-type: none;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .responsive-columns div:nth-of-type(4n) {
        margin-right: 0; }
      .responsive-columns div:nth-of-type(4n+1) {
        clear: left; } }
  @media only screen and (min-width: 660px) and (max-width: 760px) {
    .responsive-columns div {
      display: block;
      float: left;
      list-style-type: none;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 49%;
      margin-right: 2%;
      display: block;
      float: left;
      list-style-type: none;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .responsive-columns div:nth-of-type(2n) {
        margin-right: 0; }
      .responsive-columns div:nth-of-type(2n+1) {
        clear: left; } }
  @media only screen and (min-width: 500px) and (max-width: 660px) {
    .responsive-columns div {
      display: block;
      float: left;
      list-style-type: none;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 100%;
      margin-right: 0%;
      display: block;
      float: left;
      list-style-type: none;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      .responsive-columns div:nth-of-type(1n) {
        margin-right: 0; }
      .responsive-columns div:nth-of-type(1n+1) {
        clear: left; } }
